/* @font-face {
  font-family: 'airstreamregular';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Airstream-webfont.eot");
  src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/Airstream-webfont.woff') format('woff'),
       url('fonts/Airstream-webfont.ttf') format('truetype'),
       url('fonts/Airstream-webfont.svg#lakeshore') format('svg');
     }
@font-face {
  font-family: 'lakeshore';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype' ),
       url('fonts/LAKESHOR-webfont.woff') format('woff'),
       url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
       url('font/LAKESHOR-webfont.svg#lakeshore') format('svg');
       }
*/
html, body {
  height: 100%;
}

*{
  margin: 1px;
}
body{
  font-size: 15px;
  color: white;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.restaurant-image {
  width: 100%;
}
.restaurant-list {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  list-style: none;
  order: 2;

  overflow-x: auto;
  padding: 20px 0;
  white-space: nowrap;
}
.detail-image {
  width: 90%;
}

a[href="#"] {
  text-decoration: none;
}

.flex-header {
  background-color: #5070B5;
  padding-top: 6rem;
  padding-bottom: 6rem;
  font-size: 50px
}
.flex-main {
  display: flex;
  flex: 1;
}

.flex-nav {
  background-color: #B95F21;
  padding-top: 8rem;
  flex: 1 1 5rem;
}

.flex-article {
  background-color: #81A43C;
  padding-top: 8rem;
  flex: 3 3 ;
}


.flex-aside {
  background-color: #B95F21;
  padding-top: 8rem;
  flex: 1 1 5rem;
}

.flex-footer {
  background-color: #5070B5;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media all and (max-width: 640px) {
  .flex-main {
    flex-direction: column;
  }
  .restaurant-list {
    flex-direction: row;
    order: 0;
    padding: 0 35px;
  }


}
